# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
media/*
!media/brands/
media/brands/*
!media/brands/logos/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db*.sql
